.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.inputStyle{
    font-size: 1.5rem;
    padding: 3px;
    display: inline-block;
}